body {
  // font-family: Times New Rome;
  // font-family: 'Open Sans', sans-serif; 
  // font-family: 'Roboto Slab', serif;
  // font-family: 'Lora', serif;
  font-family: 'Crimson Text', 'Times New Rome', serif;
}

.title {
  span.folder {
    cursor: pointer;
    i.icon {
      margin: 0;
    }
  }
  span.caption {
    font-weight: bold;
  }
  span.description {
    font-size: 1rem;
    font-style: italic;
    color: gray;
    display: block;
    margin-top: 0.2rem;
  }
}

.level-1 {
  font-size: 1.5rem;
  background-color: #EFE4F0;
  color: #934A99;  
}

.level-2 {
  font-size: 1.3rem;
  background-color: #E2EEF0;
  color: #3E8B9C;
  .title {
    padding-left: 2rem !important;
  }
}

.level-3 {
  font-size: 1.1rem;
  background-color: #EFF8FA;
  color: #3E8BA1;
  .title {
    padding-left: 4rem !important;
    .caption {
      font-weight: 600;
    }
  }
}
 
.level-4 {
  font-size: 1rem;
  .title {
    padding-left: 6rem !important;
  }
}

.level-5 {
  font-size: 0.9rem;
  font-style: italic;
  .title {
    padding-left: 8rem !important;
    .caption {
      font-weight: normal;
    }
  }
}

