// @import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  font-family: 'Times New Rome', serif;
  // font-family: 'Crimson Text', 'Times New Rome', serif; 
}

// row 
.tree-row {
  &.note {
    td { 
      padding-top: 0em;
      border-top: 0px !important; 
    }
    span.description {
      padding-right: 4em;
    }
  }  

  // cell
  .title {
    cursor: pointer;
    span.folder {
      i.icon {
        color: #6C7071;
      }
    }
    span.caption {
      font-weight: bold;
    }
    span.description {
      font-size: 1rem;
      font-style: italic;
      color: gray;
      display: block;
      margin-top: 0.2rem;
    }
  }  
}

// row level
.level-1 {
  font-size: 1.5rem;
  background-color: #EEDBED;
  color: #8B2B8C;  
}

.level-2 {
  font-size: 1.3rem;
  background-color: #D8EBEE;
  color: #127B8D;
  .title {
    padding-left: 2rem !important;
  }
}

.level-3 {
  font-size: 1.1rem;
  background-color: #E9F7F9;
  color: #127B8D;
  .title {
    padding-left: 4rem !important;
    .caption {
      font-weight: 600;
    }
  }
}
 
.level-4 {
  font-size: 1rem;
  .title {
    padding-left: 6rem !important;
  }
}

.level-5 {
  font-size: 0.9rem;
  font-style: italic;
  .title {
    padding-left: 8rem !important;
    .caption {
      font-weight: normal;
    }
  }
}

