// @import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
  font-size: 12px;
  font-family: 'Times New Rome', serif;
  // font-family: 'Crimson Text', 'Times New Rome', serif; 
}

// row
.tree-row {
  &.note {
    td { 
      padding-top: 0em;
      border-top: 0px !important; 
    }
    span.description {
      padding-right: 2em;
      em {
        color: #9E439E;
      }
    }
  }  

  // cell
  .title {
    span.folder {
      cursor: pointer;
      user-select: none;
      i.icon {
        color: #6C6E6F;
      }
    }
    span.description {
      display: block;
      font-size: 0.95rem;
      font-weight: normal;
      font-style: italic;
      color: #6C6E6F;
      margin-top: 0.2rem;
    }
  }
}

// row level
.level-1 {
  font-size: 1.3rem;
  font-weight: 400;
  background-color: #F2E3F1;
  color: #9E439E;  
}

.level-2 {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #DFEFF1;
  color: #058D9F;
  .title {
    padding-left: 2rem !important;
  }
}

.level-3 {
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #EDF9FA;
  color: #058D9F;
  .title {
    padding-left: 4rem !important;
  }
}

.level-4 {
  font-size: 1rem;
  font-weight: 600;
  color: #666;
  .title {
    padding-left: 6rem !important;
  }
}

.level-5 {
  font-size: 0.9rem;
  font-style: italic;
  color: #666;
  .title {
    padding-left: 8rem !important;
  }
}

