* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.capitalize {
  text-transform: capitalize;
}

.header {
  border-bottom: 1px solid #ddd;
}

.sidebar {
  position: fixed;
  right: 0;
  font-size: 12px;
  border-left: 1px solid #ddd;
}

.footer {
  font-size: 90%;
  font-style: italic;
  text-align: center;  
}

table.table {
  width: 100%;
}
