[v-cloak] {
  display: none;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.capitalize {
  text-transform: capitalize;
}

.navbar {
  font-size: 16px;
}
.navbar p {
  margin: 1em 0;
}

#switcher {
  position: fixed;
  top: 6px;
  right: 60px;
  z-index: 2000;
}
@media only screen 
and (min-width : 1024px) {
  #switcher {
    display: none;
  }
}

.main {
  min-height: 800px;
}
.main.with-sidebar {
  padding: 0;
}

.sidebar {
  display: none;
  position: fixed;
  right: 0;
  top: 100px;
  bottom: 100px;
  width: 200px;
  margin: 0;
  padding: 20px 20px 0 20px;
  font-size: 12px;
  border-left: 1px solid #eee;
  overflow-y: auto;
}
#toc-button {
  display: none;
}
@media only screen 
and (min-width : 1200px) {
  .main.with-sidebar {
    padding-right: 60px;
  }
  .sidebar, #toc-button {
    display: block;
  }
}

.footer {
  position: relative;
  font-size: 90%;
  font-style: italic;
  z-index: 1000;
}
.footer p {
  text-align: center;  
}

ul.sidebar ul {
  padding-left: 10px;
  margin: 0 0 5px;
}
ul.sidebar li {
  list-style: none;
  text-align: initial;
  margin-top: 2px;
  line-height: 22px;
}
ul.sidebar a {
  color: inherit;
  text-align: left;
  font-size: 12px;
  text-decoration: none;
}
ul.sidebar > li > a {
  font-weight: bold;
}

#write table {
  width: 100%;
}
#write p {
  margin: 1rem 0;
}
#write blockquote {
  margin: 1em 0;
}
#write img {
  max-width: 100%;
  vertical-align: middle;
  margin: 0 auto;
}

/* Fix conflict between prism and bulma */
.token.tag {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
}