<!DOCTYPE html>
<html>

<head>
  <title>Fang Jin</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/themes/prism.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="base.css">  
  <link rel="stylesheet" href="" id="style">  
</head>

<body class="pin-outline has-navbar-fixed-top" v-cloak>
    <!-- Header  -->
    <nav class="navbar is-light is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="">
          <img src="logo.png">
        </a>
        <div class="navbar-burger burger" data-target="navbar">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start" v-if="admin">
          <a class="navbar-item" v-on:click="reset()">
            Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable" v-for="res in resources">
            <a class="navbar-link" href="javascript:;">{{ res.title }}</a>
            <div class="navbar-dropdown">
              <a class="navbar-item capitalize" v-for="item in res.items" v-on:click="loadMd(res.type+'/'+item)">
                {{ item | formatId }}
              </a>
            </div>          
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control" id="toc-button">
                <a class="button" v-on:click="toggleSidebar">
                  <span class="icon">
                    <i class="fa fa-align-justify"></i>
                  </span>
                  <!-- <span>Table Content</span> -->
                </a>
              </p>
              <p class="control has-icons-left">
                <a class="select">
                  <select v-model="style" v-on:change="changeStyle">
                    <option v-bind:value="s" v-for="s in styles">{{ s | capitalize }}</option>
                  </select>              
                </a>
                <span class="icon is-small is-left">
                  <i class="fa fa-adjust"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>  

    <!-- Content  -->
    <div class="main" v-bind:class="{ 'with-sidebar': sidebar }">
        <div id="toc" class="sidebar" v-show="sidebar"></div>
        <section class="section">
          <div class="container" id="write">
            <vue-markdown v-on:rendered="highlight" :source="source" :toc="toc" toc-id="toc" toc-anchor-link="0"></vue-markdown>
          </div>
        </section>
    </div>
    
    <!-- Sidebar layout, obsolete  -->
    <div class="level" style="align-items: baseline; display: none;">
      <section class="section">
      </section>
      <div class="level-right">
        <aside class="menu">
          <div v-for="res in resources">
            <p class="menu-label">
              {{ res.title }}
            </p>
            <ul class="menu-list">
              <li v-for="item in res.items">
                <a v-on:click="loadMd(res.type+'/'+item)">{{ item }}</a>
              </li>
            </ul>
          </div>
        </aside>      
      </div>
    </div>
    
    <!-- Footer  -->
    <footer class="footer">
      <p>Stay ahead and be focused.</p>
      <p>&copy; Copyright 2018 - <a v-on:click="loadMd('resume/profile-frontend')">Fang Jin</a></p>
    </footer>  
    
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
    <script src="markdown.min.js"></script>
    <script src="app.js"></script>
  </body>