/* Html */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Content */
.main {
  padding-top: 50px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media only screen
and (min-width: 768px) {
  .main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* Footer */
.footer {
  position: relative;
  font-size: 90%;
  font-style: italic;
  z-index: 1000;
}
.footer p {
  text-align: center;
}

