.slider {
  position: fixed;
  background: #efefef;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  padding: 10px;
}
.slider ul {
  list-style: none;
}
.slider a {
  padding: 0;
  text-transform: capitalize;
}