.capitalize {
  text-transform: capitalize;
}
.navbar {
  font-size: 16px;
}
.debug .navbar {
  border-top: 5px solid red;
}
.navbar p {
  margin: 1em 0;
}
.navbar-item.center {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}
.logo {
  animation: logo-spin infinite 20s linear;
}
.spinning .logo-wrapper {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}