#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1;
}
#app {
  &.spinning {
    opacity: 0.4;
  }
}

// #app div {
//   transition: all 0.5s ease;
// }

#fixer {
  position: fixed;
  bottom: 0;
  height: 2.6rem;
  z-index: 9000;
  width: 100%;
  background-color: #ececec;

  #themer {
    padding: 0.5rem;
    opacity: 0.8;
  }

  #ticker {
    padding: 0.5rem;
    opacity: 0.3;
    cursor: pointer;
  }
}
