.slider {
  transition: all 0.5s ease;

  position: fixed;
  background: #fafafa;
  width: 250px;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 99999;
  padding: 10px;
  overflow-y: auto;
  &.open {
    left: 0;
  }
  .close {
    float: right;
    cursor: pointer;
  }
  ul {
    list-style: none;
    margin: .25em;
    padding: 0;
  }
  a {
    padding: 0;
    text-transform: capitalize;
    font-size: 13px;
    line-height: 20px;
  }
}
.slider-toggle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  z-index: 99999;
  cursor: pointer;
}