.slider {
  position: fixed;
  background: #fafafa;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  padding: 10px;
  overflow-y: auto;
  .close {
    float: right;
    cursor: pointer;
  }
  ul {
    list-style: none;
    margin: .25em;
    padding: 0;
  }
  a {
    padding: 0;
    text-transform: capitalize;
    font-size: 12px;
    line-height: 18px;
  }
}
.slider-toggle {
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 99999;
  cursor: pointer;
}