ul.toc {
  background-color: #fefefe;
  margin: 0;
  padding-left: 15px;
  li {
    display: none;
    margin: 0;

    &.h2 {
      display: block;
      font-weight: bold;
    }
    &.h3 {
      display: inline-block;
      padding-left: 10px;
    }
    @media only screen and (min-width: 1024px) {
      &.h2 {
        font-weight: normal;
      }
      &.h3 {
        display: none;
      }
    }
  }
}