.toc {
  .navbar.is-fixed-top .navbar-menu {
    max-height: calc(100vh - 5.8rem);

    a.navbar-link {
      // min-width: 250px;
    }
  }
}
ul.toc {
  background-color: #fefefe;
  margin: 0;
  padding-left: 15px;
  li {
    display: none;
    margin: 0;
    &.h1 {
      font-size: 1rem;
    }
    &.h2 {
      display: block;
      font-weight: bold;
      font-size: 1rem;
    }
    &.h3 {
      display: inline-block;
      font-size: 1rem;
      padding-left: 10px;
      font-weight: normal;
      // font-size: 80%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .toc {
    .navbar-dropdown {
      max-height: calc(100vh - 5.8rem);
      overflow: auto;
    }
  }
  ul.toc li {
    &.h2 {
      font-weight: normal;
    }
    &.h3 {
      display: block;
    }
  }
}