$bg-color:            #FFFFFF;
$text-color:          #000000;
$highlight-bg-color:  #F0F5FA;
$highlight-text-color:#073459;
$active-bg-color:     #0082BC;
$active-text-color:   #FFFFFF;
$border-color:        #DDDDDD;
$gray-text-color:     #808080;
$alter-bg-color:      #EBF0F5;
$hover-bg-color:      #CCE6F2;
$error-text-color:    #BB0000;
$shadow-color:        rgba(0,0,0,0.15);
