table {
  width: 100%;
}
p {
  margin: 1rem 0;
  text-align: left;
}
ul {
  margin: 1em 0 1em 40px;
}
blockquote {
  margin: 1rem 0;
}
blockquote p::first-letter {
  font-size: 110%;
}
h1,h2,h3,h4,h5,h6,strong {
  font-weight: bold;
  margin: 2.33em 0;
  outline: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
code {
  border: none !important;
}