.canvas {
  position: relative;
  overflow: visible;
  height: 80px;
}

.object {
  position: absolute;
  top: 0;
  border-radius: 4px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
  background: white;
}

.progress {
  z-index: -1;
  position: absolute;
  background: #efefef; 
  border-radius: 4px;
  box-shadow: 5px 5px 5px 5px #aaa inset
}