.article {
	font-family: "Vollkorn", Palatino, Times;
}

/* Fix anchor scroll issue */
.article h1[id]:before, 
.article h2[id]:before, 
.article h3[id]:before {
	display: block;
	content: " ";
	margin-top: -120px;
	height: 120px;
	visibility: hidden;
}

/* Typography */
.article h1 {
	display: none;
	font-size: 3em;
	margin-top: 1.2em;
	font-weight: normal;
	/* text-align: center; */
}
.article h2 {
	font-size: 1.8em;
	margin-top: 1em;
	font-weight: normal;
	/* text-align: center; */
}
.article h3 {
	font-size: 1.6em;
	font-weight: normal;
	font-style: italic;
	margin-top: 0.8em;
	/* text-align: center; */
}
.article h4 {
	font-size: 1.1em;
	margin-top: 0.5em;
	font-weight: bold;
}
.article p {
	margin-top: 0.5em;
	-webkit-hypens: auto;
	-moz-hypens: auto;
	hyphens: auto;
	line-height: 1.5em;
}
.article ul {
	list-style: square;
	margin: 0.4em 0;
	padding: 0.4em 1em;
}
.article li {
	line-height: 1.8em;
}
.article ul ul {
	margin: 0 0 0.4em;
	padding: 0 1em;
}
.article ol {
	padding-left: 1.2em;
}
.article dl {
	margin: 1rem 0;
}
.article dt {
  margin-top: 1rem;
  font-weight: bold;
}
.article dd {
  font-size: 95%;
}
.article dd p {
  margin: 0;
}
.article blockquote {
  margin: 1em;
  padding-left: 1em;
  border-left: 1px solid #ddd;
}
.article code {
	color: #3273dc;
}
.article abbr {
  text-decoration: none;
  font-style: italic;
  font-family: serif;
  cursor: help;
}
.article figure {
	margin: 2.33em 0;
  text-align: center;
}
.article figure img {
  margin: 0;
  border: 1px solid #f8f8ff;
  border-radius: 2px;
  padding: 1px;
}
.article figure figcaption {
  clear: left;
  margin-top: 5px;
  text-align: center;
  font-size: 90%;
  font-style: italic;
  line-height: 0rem;
}  

/* Subtitle */
.article .subtitle {
	/* text-align: center; */
}

/* Table */
.article table {
	margin-bottom: 1.333333rem
}
.article table th,
.article table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}
.article table th {
	font-weight: bold
}
.article table thead th {
	vertical-align: bottom
}
.article table caption+thead tr:first-child th,
.article table caption+thead tr:first-child td,
.article table colgroup+thead tr:first-child th,
.article table colgroup+thead tr:first-child td,
.article table thead:first-child tr:first-child th,
.article table thead:first-child tr:first-child td {
	border-top: 0
}
.article table tbody+tbody {
	border-top: 2px solid #ddd
}

/* List */
.article.ul-1 ul.tree > li > ul { display: none }
.article.ul-2 ul.tree > li > ul > li > ul { display: none }
.article.ul-3 ul.tree > li > ul > li > ul > li > ul { display: none }
.article.ul-4 ul.tree > li > ul > li > ul > li > ul > li > ul { display: none }
/* .article ul.tree { list-style: circle }
.article ul.tree ul { list-style: square }
.article ul.tree > li { border-bottom: 1px solid #eee }
.article ul.tree ul ul { list-style: disc }
.article ul.tree ul ul ul { list-style: none }
.article ul.tree ul ul li { line-height: 1.5em }
.article ul.tree ul ul ul li { line-height: 1.2em } */
