html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  /*background-color:#222;*/
  color: #444; }

body, small, h1, h2, h3, h4, h5, h6, p, th, td, li {
  margin-top: 0;
  color: #333;
  font-family: 'Open Sans', Arial, sans-serif;
  /*font-weight:300;*/
  font-style: normal; }

h1 {
  margin-bottom: 14px;
  font-size: 26px;
  line-height: 50px; }

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 40px; }

h3 {
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-weight: 300;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 30px; }

li {
  line-height: 21px;
  font-size: 13px; }

th, td {
  font-size: 13px; }

a, a:hover, a:visited {
  color: #444;
  text-decoration: none !important;
  cursor: pointer; }

p {
  line-height: 21px;
  margin-bottom: 20px;
  font-size: 14px; }

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

em {
  font-style: italic;
  font-weight: bold; }

#version {
  border-bottom: 10px solid #fdb020;
  pardding-top: 10px;
  margin-top: 20px; }

#header .cv-section:first-child {
  /*border-top:10px solid #fdb020;*/ }

@media (max-width: 767px) {
  #header .cv-section-title {
    text-align: center;
    margin-bottom: 40px; } }

@media (max-width: 767px) {
  .cv-section-title {
    margin-bottom: 40px; } }

.cv-section-title img {
  float: left;
  width: 150px;
  border: 1px solid #dadada;
  height: 150px;
  margin-right: 20px;
  padding: 5px; }

@media (max-width: 767px) {
  .cv-section-title img {
    float: none;
    margin: 0 auto; } }

.cv-section-title h1 {
  padding-top: 45px; }

.cv-section-title h1 small {
  font-weight: 300;
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
  display: block; }

@media (max-width: 767px) {
  .cv-section-title h1 small {
    margin-top: 20px; } }

.cv-section-title h2 {
  /*font-size:22px;*/
  font-weight: 300;
  color: #b1b1b1;
  margin-bottom: 0; }

.cv-section-title h4 {
  font-weight: 300;
  /*color:#b1b1b1;*/
  /*margin-bottom:0;*/ }

.social-media {
  margin-bottom: 20px; }

.social-media a {
  float: left;
  background-color: #252525;
  color: #fff;
  width: 32px;
  margin-right: 15px;
  margin-bottom: 5px;
  text-align: center; }

.social-media a i {
  font-size: 16px;
  line-height: 32px; }

.cv-timeline table {
  margin-top: 65px;
  border-style: hidden;
  border-collapse: collapse; }

.cv-timeline table th {
  text-align: center;
  font-size: 11px;
  color: #888; }

.cv-timeline table td {
  background-color: #efefef;
  font-weight: normal;
  /*border:none;*/
  text-align: center;
  font-size: 12px; }

.cv-timeline table tr.timeline-space td {
  border-right: 1px solid #ddd;
  padding: 8px 4px;
  border-top: none;
  border-left: none;
  border-bottom: none; }

.cv-timeline table tr.timeline-row td {
  padding: 6px 3px;
  border-top: none;
  border-right: 1px solid #ddd; }

.cv-timeline table td.timeline-item {
  background-color: #cdcdcd;
  color: #111; }

.cv-section {
  /*border-top:1px solid #dadada;*/
  padding: 65px 0; }

@media (max-width: 767px) {
  .cv-section {
    padding: 65px 10px; } }

.cv-section small a {
  font-weight: bold;
  color: #444; }

.cv-section small > a:visited {
  color: #444;
  text-decoration: none; }

.cv-item {
  padding-bottom: 40px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 40px; }
  .cv-item a {
    font-weight: bold; }
  .cv-item p {
    line-height: 25px; }
    .cv-item p.last {
      margin-bottom: 5px; }
  .cv-item pre {
    margin-top: -10px;
    margin-bottom: 10px;
    line-height: 25px;
    white-space: pre; }
  .cv-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
  .cv-item h3 {
    margin-bottom: 0px;
    font-weight: bold; }
  .cv-item h4 {
    margin-bottom: 20px; }
  .cv-item abstract {
    text-align: justify;
    display: block;
    margin-bottom: 30px;
    font-family: Georgia, serif;
    padding-bottom: 30px;
    border-bottom: 1px dashed lightgray;
    color: #222; }
  .cv-item blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838; }
    .cv-item blockquote p {
      font-family: Georgia, serif;
      font-size: 14px;
      font-style: italic; }
    .cv-item blockquote:before {
      display: block;
      content: "\201C";
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px;
      color: #7a7a7a; }
  .cv-item ul, .cv-item ul.fill-circle {
    list-style: none;
    margin-bottom: 20px; }
    .cv-item ul li:before, .cv-item ul.fill-circle li:before {
      font-family: 'FontAwesome';
      color: #fdb020;
      content: "\F00C";
      font-size: 10px;
      position: relative;
      top: -2px;
      width: auto;
      height: auto;
      margin-right: 8px; }
  .cv-item ol li a {
    font-weight: normal; }
  .cv-item img[src$='#thumbnail'] {
    height: 150px;
    border: 1px solid #dadada;
    padding: 5px;
    border-radius: 50%; }
  .cv-item img[src$='#thumbnail-small'] {
    height: 80px;
    border: 1px solid #dadada;
    padding: 5px;
    border-radius: 50%; }
  .cv-item img[src$='#small'] {
    height: 80px; }
  .cv-item .item-edit {
    float: right; }
    .cv-item .item-edit a {
      font-size: 26px;
      opacity: 0.05; }
      .cv-item .item-edit a:hover {
        opacity: 0.5; }
  .cv-item .notes {
    border-top: 1px dotted black;
    padding: 20px 0; }

.cv-item-excluded {
  text-decoration: line-through !important; }

.period {
  background-color: #b1b1b1;
  color: #fff;
  float: right;
  padding: 12px 20px;
  transition: background-color 0.3s;
  text-transform: uppercase;
  cursor: pointer; }

.period:hover {
  background-color: #fdb020; }

@media (max-width: 767px) {
  .period {
    float: none; } }

.copyright {
  /*border-bottom:1px solid #b1b1b1;*/
  /*background-color:#b1b1b1;*/
  /*color:#fff;*/
  padding: 5px 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase; }

.cv-metric table {
  margin-top: 65px; }

.cv-metric table th {
  font-weight: bold;
  text-align: center;
  font-size: 13px; }

.cv-metric table tbody td {
  font-weight: normal;
  text-align: center;
  font-size: 12px; }

.cv-metric table tfoot td {
  text-align: left; }

ul.nav li i {
  font-size: 20px;
  margin-right: 5px; }

a.back-to-top {
  cursor: pointer;
  background: none;
  margin: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /*width:70px;*/
  /*height:70px;*/
  z-index: 100;
  /*display:none;*/
  text-decoration: none;
  color: #efefef;
  /*background-color:#ff9000;*/ }

a.back-to-top i {
  font-size: 60px; }

a.back-to-top:hover {
  color: #fdb020; }

i.fa.fa-quote-left {
  vertical-align: top;
  color: #aaa; }

p strong {
  padding: 0px 2px;
  border: 1px dotted #fdb020;
  background-color: rgba(253, 176, 32, 0.08); }

a {
  text-decoration: initial; }

a:hover {
  text-decoration: none; }

small {
  font-size: 11px; }

.label-keyword {
  color: black;
  background-color: #fefefe;
  font-weight: normal;
  font-size: 10px;
  padding: 3px; }
