pre {
  margin: 0rem;
  font-size: 0.8rem;
}

@media print
{    
  .no-print {
    display: none !important;
  }

  .allow-print {
    width: 100%;
    display: block !important;
    margin: 1rem;
  }

  .print-page-break {
    page-break-after: always;
    margin: 5rem;
  }

  /* div { 
    float: none !important; 
    position: static !important; 
    display: inline; 
    box-sizing: content-box !important;
  } */

  body {
    overflow: visible !important;
    float: none !important;
  }
  
  header {
    display: none !important;
  }

}
