.allow-print {
  display: none;
  width: 100%;
  margin: 1rem;
}

@media print
{    
  .no-print {
    display: none !important;
  }

  .allow-print {
    display: block !important;
  }

  div { 
    float: none !important; 
    position: static !important; 
    display: inline; 
    box-sizing: content-box !important;
  }

  body {
    overflow: visible !important;
    float: none !important;
  }
  
  header {
    display: none !important;
  }

}
