
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 16px;
  --text-background: #fff;
  --text-color: #19242c;
  --text-color-low-contrast: #b2bcc1;
  --neutral-color: #e0e5e7;
  --neutral-color-weak: #eff2f3;
  --color-primary: #809158;
}

summary {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--text-background);
  color: var(--text-color);
  height: 3rem;
  z-index: 1;
  border-bottom: 0.0625rem solid var(--neutral-color);
}
summary p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Rubik, sans-serif;
}

main {
  color: var(--text-color);
  padding: 0 16px;
}

.chapter-number {
  margin-top: 8rem;
  font-family: Lato, sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-color-low-contrast);
}

h1 {
  font-family: Rubik, serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
}

h2 {
  font-family: Merriweather, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: Lato, sans-serif;
  font-size: 110%;
  font-weight: normal;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

p {
  font-family: Lato, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
}
p.paragraph::first-letter {
  initial-letter: 2 2;
  font-weight: bold;
  margin-right: 0.5rem;
  font-family: Georgia, serif;
}
p code {
  font-family: "Roboto Mono", mono;
}

blockquote {
  border-style: none;
  font-style: italic;
  margin: 0.5rem;
  padding: 0;
}
blockquote p {
  line-height: 2;
}

pre {
  font-family: "Roboto Mono", mono;
  /* color: var(--text-color); */
  border-radius: initial;
  line-height: 1;
}
pre:not(.mermaid) {
  padding: 1rem;
  /* background-color: var(--neutral-color-weak); */
}
pre code {
  line-height: 1.1;
}

code {
  font-family: "Roboto Mono", mono;
}

img {
  max-width: 100%;
}
.caption {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.5rem;
}
.float-left {
  float: left;
}

li {
  font-size: 1rem;
  line-height: 1.8;
}

@media (min-width: 800px) {
  main {
    padding: 0 64px;
    width: 768px;
    margin: 0 auto;
  }
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  position: fixed;
  background-color: var(--text-background);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 22px;
  width: 28px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  background-color: var(--text-background);
  padding: 100px 0 0 40px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 300px;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-family: Rubik, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo {
  position: absolute;
  top: -5px;
  left: 60px;
  font-size: 1.2rem;
  color: #0e2431;
}

.logo p {
  text-align: right;
}
.logo img {
  width: 250px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  /* display: none; */
}

footer {
  margin-top: 100px;
  border-top: 1px solid #ccc;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
